{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}

    <div class=" container text-center">

        <div class="text-center" id="test">
            {{ form_start(rechercheForm) }}
    <!-- region et catégories -->
                <div class="row">
                        <div class="col-md-6 col-sm-12">
                            {{ form_row(rechercheForm.region) }}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            {{ form_row(rechercheForm.categories) }}
                        </div>
                </div>
    <!-- prix min prix max -->
            <h6>PRIX</h6>
                <div class="row">
                        <div class="col-md-6 col-sm-12">
                        {{ form_row(rechercheForm.prixMin) }}
                        </div>
                        <div class="col-md-6 col-sm-12">
                        {{ form_row(rechercheForm.prixMax) }}
                        </div>
                </div>
        </div>
            <div>
                {{ form_end(rechercheForm) }}
            </div>
    </div>





   <div>
    <h1 class="text-center m-5">Liste des annonces</h1>
   </div>


    <div class="row mt-5">
        {% for article in articles %}
            <div class="col-md-3 col-sm-12 mt-5">
                <div class="card">
                    <img width="100%" src="/photos/{{ article.photoArticle }}">
                    <div class="card-body">
                        <h2 class="card-title">{{ article.nomArticle }}</h2>
                        <p class="card-text">{{ article.descriptionArticle }}</p>
                        <h3 class="card-text">{{ article.prixArticle }} €</h3>
                        <p class="card-text text-primary">categorie: {{ article.categories}} </p>
                        <p class="card-text text-primary">Region: {{ article.region}} </p>

                        <a class="btn btn-primary"
                           href="{{ path('articles_show_visteur', {'slug':article.nomArticle|slugify,'id': article.id}) }}">detail</a>

                    </div>
                </div>
            </div>


        {% endfor %}
    </div>

    {% endblock %}

